* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Задает минимальную высоту для body */
}

header {
    background: #333;
    color: #ff1d1d;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ff1d1d;
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    margin-bottom: 15px;
}

main {
    flex: 1; /* Заставляет main занимать оставшееся пространство */
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

.animated-image {
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5); /* Начальный размер меньше */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Конечный размер нормальный */
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

